<section class="flex flex-col justify-center space-y-4">
  <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-4 w-full">
    <div class="w-full">
      <app-dynamic-list
        [title]="'This Month Expenses'"
        [list]="recentExpensesList"
        template="EXPENSE"
        [defaultCurrency]="authService.defaultCurrency"
        (expand)="redirect($event)"
      ></app-dynamic-list>
    </div>
    <div class="w-full">
      <app-dynamic-list
        [title]="'This Month Incomes'"
        [list]="recentIncomesList"
        template="INCOME"
        [defaultCurrency]="authService.defaultCurrency"
        (expand)="redirect($event)"
      ></app-dynamic-list>
    </div>
  </div>
  <div
    class="flex flex-col rounded-lg border border-zinc-200 dark:border-zinc-700 bg-zinc-300 dark:bg-zinc-900 px-3 w-full"
  >
    <p class="dark:text-zinc-400 text-zinc-700 text-left border-b border-zinc-700 py-2 font-bold">
      Quick Access
    </p>
    <div
      class="grid grid-cols-2 md:grid-cols-2 {{authService.userInformation.parent === null ? 'lg:grid-cols-4' : 'lg:grid-cols-3'}} w-full py-4 gap-10"
    >
      <app-quickaccess-btn
        label="+ new Expense"
        icon="fa-regular fa-credit-card text-fuchsia-500 "
        iconBgColor=" bg-fuchsia-500 dark:bg-fuchsia-900 "
        (click)="openModal('expense')"
      ></app-quickaccess-btn>
      <app-quickaccess-btn
        label="+ new Income"
        icon="fa-regular fa-money-check-dollar text-indigo-500"
        iconBgColor="bg-indigo-500 dark:bg-indigo-900"
        (click)="openModal('income')"
      ></app-quickaccess-btn>
      <app-quickaccess-btn
        label="+ new Trip"
        icon="fa-regular fa-suitcase-rolling text-teal-500"
        iconBgColor="bg-teal-500 dark:bg-teal-900"
        (click)="openModal('trip')"
      ></app-quickaccess-btn>
      <ng-container *ngIf="authService.userInformation.parent === null">
        <app-quickaccess-btn
          label="+ add Child"
          icon="fa-regular fa-user-plus text-red-500"
          iconBgColor=" bg-red-500 dark:bg-red-900"
          (click)="openModal('child')"
        ></app-quickaccess-btn> </ng-container
      >
    </div>
  </div>

  <!-- charts section -->

  <div class="flex flex-col rounded-lg border dark:border-zinc-700 bg-zinc-300  dark:bg-zinc-900 px-3">
    <p class="text-zinc-700 dark:text-zinc-400 text-left border-b border-zinc-700 py-2 font-bold">
      This Month
    </p>
    <div class="flex flex-col md:flex-row justify-between items-center py-3">
      <div class="col-auto w-1/2">
        <div class="col-auto relative">
          <app-chart
            type="gauge"
            [data]="monthlyStats"
            [showLegend]="false"
            [units]="authService.defaultCurrency"
            [maxValue]="totalIncomes"
            title="This Month Situation"
            [percentage]="percentage"
          ></app-chart>
          <small
            *ngIf="percentage >= 100 && monthlyStats[0].value > 0"
            class="text-red-600 dark:text-red-400 absolute bottom-0 text-center w-full"
            >Out Of Budget :(</small
          >

          <div class="flex flex-row justify-between items-center w-full px-5">
            <small class="dark:text-zinc-500 text-zinc-700 text-light"
              >Expenses: {{ authService.defaultCurrency }}
              {{ monthlyStats[0].value.toFixed(2) }}</small
            >
            <small class="dark:text-zinc-500 text-zinc-700 text-light"
              >Incomes: {{ authService.defaultCurrency }}
              {{ totalIncomes.toFixed(2) }}</small
            >
          </div>
        </div>
      </div>

      <div class="border-s border-zinc-700 col-auto w-1/2">
        <div class="col-auto">
          <app-chart
            [data]="weeklyStats"
            title="Weekly Stats"
            [units]="authService.defaultCurrency"
          ></app-chart>
        </div>
      </div>
    </div>
  </div>
</section>

<p-toast>
  <ng-template let-message pTemplate="message">
    <div class="flex flex-row items-center gap-x-4 w-full">
      <i class="fa-solid fa-lightbulb text-xl"></i>
      <div class="flex flex-col items-start justify-center flex-grow">
        <p class="font-normal text-sm dark:text-zinc-300">
          {{ message.summary }}
        </p>
        <p class="font-light text-sm dark:text-zinc-400">
          {{ message.detail }}
        </p>
      </div>
    </div>
  </ng-template>
</p-toast>
