
<h1 class=" text-7xl dark:text-white text-center my-4 font-comfortaa" >PiggyBank 🐷</h1>
<div
  class="container mx-auto bg-zinc-900 rounded-2xl flex-col md:grid md:grid-cols-2 justify-between p-4"
>
  <!-- Colonna immagine -->
  <div class="flex-1 flex items-center justify-center">
    <img
      class="w-[1000px] h-auto bg-zinc-700 rounded-2xl"
      src="https://cdn3d.iconscout.com/3d/premium/thumb/budget-management-3d-illustration-download-in-png-blend-fbx-gltf-file-formats--expense-tracking-budgeting-tools-personal-finance-saving-money-financial-planning-pack-business-illustrations-8060295.png"
      alt="Budget Management Icon"
    />
  </div>
  <!-- REGISTER FORM -->

  <ng-container *ngIf="template === 'SIGNUP'; else loginTemplate">
    <div class="flex-1 flex items-center justify-center">
      <form
        class="w-full max-w-xs grid gap-4 items-center"
        [formGroup]="signupForm"
        (ngSubmit)="submitSignupForm()"
      >
        <div class="grid gap-2">
          <h1 class="text-black dark:text-white text-4xl font-normal">
            Create an account
          </h1>
          <p class="text-gray-400 text-sm">
            Already have an account?
            <a
              class="text-decoration-underline text-violet-400 text-sm pointer"
              (click)="switchTemplate()"
              >Login</a
            >
          </p>
        </div>

        <div class="grid gap-4">
          <div class="grid grid-cols-2 gap-4">
            <input
              formControlName="name"
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Name"
              required
              [ngClass]="{
                'border-error':
                  !signupForm.get('name')?.valid &&
                  signupForm.get('name')?.touched
              }"
              (blur)="signupForm.get('name')?.markAsTouched()"
            />

            <input
              formControlName="surname"
              type="text"
              id="last_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Surname"
              required
              [ngClass]="{
                'border-error':
                  !signupForm.get('surname')?.valid &&
                  signupForm.get('surname')?.touched
              }"
              (blur)="signupForm.get('surname')?.markAsTouched()"
            />
          </div>

          <input
            formControlName="email"
            type="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Email"
            required
            [ngClass]="{
              'border-error':
                !signupForm.get('email')?.valid &&
                signupForm.get('email')?.touched
            }"
            (blur)="signupForm.get('email')?.markAsTouched()"
          />
          <input
            formControlName="password"
            type="password"
            id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Password"
            (input)="checkPassword()"
            required
            [ngClass]="{
              'border-error':
                !signupForm.get('password')?.valid &&
                signupForm.get('password')?.touched
            }"
            (blur)="signupForm.get('password')?.markAsTouched()"
          />

          <input
            formControlName="repeatPassword"
            type="password"
            id="password_repeat"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Repeat Password"
            (input)="checkPassword()"
            required
            [ngClass]="{
              'border-error':
                !signupForm.get('repeatPassword')?.valid &&
                signupForm.get('repeatPassword')?.touched
            }"
            (blur)="signupForm.get('repeatPassword')?.markAsTouched()"
          />

          <small
            class="text-xs text-red-400"
            *ngIf="
              !_arePasswordEquals &&
              (signupForm.get('repeatPassword')?.touched ||
                signupForm.get('password')?.touched)
            "
          >
            Password doesn't match
          </small>

          <input
            formControlName="birthdate"
            type="date"
            id="birthdate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Birthdate"
            required
            [ngClass]="{
              'border-error':
                !signupForm.get('birthdate')?.valid &&
                signupForm.get('birthdate')?.touched
            }"
            (blur)="signupForm.get('surname')?.markAsTouched()"
          />

          <div class="flex flex-row justify-start align-items-center">
            <input
              type="checkbox"
              class="accent-black dark:accent-white text-sm"
            />
            <span class="text-gray-600 dark:text-gray-400 text-xs ps-2"
              >I agree to the
              <a class="text-violet-400 text-decoration-underline"
                >Terms and Conditions</a
              ></span
            >
          </div>

          <button
            type="submit"
            [disabled]="(signupForm.invalid && signupForm.touched) || !_arePasswordEquals"
            class="bg-violet-500 hover:bg-violet-600 text-white rounded py-3 disabled:opacity-70 disabled:hover:bg-violet-500"
          >
            Create Account
          </button>
        </div>
      </form>
    </div>
  </ng-container>
</div>

<ng-template #loginTemplate>
  <div class="flex-1 flex items-center justify-center">
    <form
      class="w-full max-w-xs grid gap-4 items-center"
      [formGroup]="loginForm"
      (ngSubmit)="submitLoginForm()"
    >
      <div class="grid gap-2">
        <h1 class="text-black dark:text-white text-4xl font-normal">Login</h1>
        <p class="text-gray-400 text-sm">
          Don't have an account yet?
          <a
            class="text-decoration-underline text-violet-400 text-sm"
            (click)="switchTemplate()"
            >Login</a
          >
        </p>
      </div>

      <div class="grid gap-4">
        <input
          formControlName="email"
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Email"
          required
        />

        <input
          formControlName="password"
          type="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Password"
          required
        />

        <button
          type="submit"
          [disabled]="loginForm.touched && loginForm.invalid"
          class="bg-violet-500 hover:bg-violet-600 text-white rounded py-3"
        >
          Login
        </button>
        <small class="text-xs text-red-400 text-center">{{responseError}}</small>
      </div>
    </form>
  </div>
</ng-template>
