<section class="flex h-screen bg-zinc-50 dark:bg-zinc-900 py-4 pe-4">
  <div
    class=" bg-zinc-50 dark:bg-zinc-900 w-1/10 md:w-1/5 p-3 flex flex-col space-y-10 overflow-y-auto"
  >
    <div class="flex flex-col justify-center items-center mb-5">
      <app-avatar [name]="userName + ' ' + userSurname"></app-avatar>
      <p class="dark:text-white">{{ userName }} {{ userSurname }}</p>
    </div>

    <div
      class="flex flex-col space-y-3 dark:text-white p-4 rounded-lg"
      *ngFor="let menu of menuList"
      routerLinkActive="{{themeService.isDarkMode() ? 'active' : 'light-active'}}"
    >
      <div class="flex items-center justify-center md:justify-start hover:text-teal-400">
        <i
          [ngClass]="menu.icon"
          class="text-xl md:text-sm dark:text-white hover:text-teal-300 pointer"
          routerLink="/{{menu.value}}"
          routerLinkActive="{{themeService.isDarkMode() ? 'text-active' : 'text-active-light'}}"
        ></i>

        <p
          class="font-comfortaa text-md dark:text-white hover:text-teal-500 dark:hover:text-teal-300 pointer hidden md:block md:ml-3"
          routerLink="/{{menu.value}}"
          routerLinkActive="{{themeService.isDarkMode() ? 'text-active' : 'text-active-light'}}"
          [ngClass]="{ 'text-teal-300': isActive(menu.value) }"
        >
          {{ menu.name }}
        </p>
      </div>
    </div>

    <!-- logout button -->
    <div class="align-baseline bottom-3 absolute ps-4">
      <i
        class="fa-solid fa-right-from-bracket dark:text-white text-md scale-x-[-1] pointer hover:text-teal-300"
        (click)="logOut()"
      ></i>
    </div>
  </div>

  <!-- child component -->
  <section class="flex-1 p-5 dark:bg-zinc-950 rounded-md overflow-y-auto xl:overflow-y-hidden">
    <router-outlet></router-outlet>
  </section>
</section>
