<section class="flex h-screen bg-zinc-800">
    <div class="bg-zinc-800 w-1/4 border-r border-black p-5 flex flex-col space-y-10">
        <div class="flex flex-col justify-center items-center mb-5">
            <app-avatar></app-avatar>
            <p class="dark:text-white">{{userName}} {{userSurname}}</p>
        </div>

        <div 
            class="flex flex-col space-y-3 dark:text-white" 
            *ngFor="let menu of menuList">
            <div class="flex items-center space-x-3 hover:text-teal-400">
                <i [ngClass]="menu.icon" class="text-sm h-full dark:text-white hover:text-teal-300 pointer" [routerLink]="menu.value" ></i>
                <p class="font-comfortaa text-md h-full dark:text-white hover:text-teal-300 pointer" 
                   [routerLink]="menu.value" 
                   routerLinkActive="text-teal-300" 
                   [ngClass]="{'text-teal-300': isActive(menu.value)}">
                    {{ menu.name }}
                </p>
            </div>
        </div>
        <div class="align-baseline bottom-0 absolute ">
            <i class="fa-solid fa-right-from-bracket dark:text-white text-md scale-x-[-1] hover:text-teal-300" (click)="logOut()"></i>
        </div>
    </div>

    <section class="flex-1 border border-white p-5">
        <ng-component></ng-component>
    </section>
</section>
