<section class="container flex flex-col items-center gap-y-4 overflow-y-auto h-screen">
  <div class="flex flex-row justify-between px-4 w-full border-b border-zinc-600  pb-3 sticky top-0 dark:bg-zinc-950">
    <h1 class="dark:text-zinc-50  text-zinc-700 text-3xl font-bold">Children</h1>
  </div>
  <div class=" flex flex-col md:grid md:grid-cols-3 place-items-center gap-5" >
    <app-card *ngFor="let child of user.children" [user]="child" (click) = "openChildComponent(child.id)"></app-card>

  </div>
</section>
